<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gb_seperate_111111111111</key>
	<string>login=================</string>
	<key>gb_login_login_type</key>
	<string>請選擇登錄方式</string>
	<key>gb_login_other_login_type</key>
	<string>或者通過一下方式登錄</string>
	<key>gb_login_success</key>
	<string>登錄成功</string>
	<key>gb_login_guest</key>
	<string>遊客登錄</string>
	<key>gb_login_conect_error</key>
	<string>連接服務器失敗
連接服務器失敗
</string>
	<key>gb_login_gamebegin</key>
	<string>GameBegin</string>
	<key>gb_login_facebook</key>
	<string>Facebook</string>
	<key>gb_login_twitter</key>
	<string>Twitter</string>
	<key>gb_login_line</key>
	<string>Line</string>
	<key>gb_login_googleplay</key>
	<string>Google Play</string>
	<key>gb_login_wx</key>
	<string>微信</string>
	<key>gb_login_qq</key>
	<string>Q​​Q</string>
	<key>gb_login_hint_login_name</key>
	<string>請輸入GameBegin賬號</string>
	<key>gb_login_hint_login_psd</key>
	<string>請輸入密碼</string>
	<key>gb_login_name_no_empty</key>
	<string>用戶名不能為空</string>
	<key>gb_login_psd_no_empty</key>
	<string>密碼不能為空</string>
	<key>gb_login_name_wrong_length</key>
	<string>請輸入長度為3~20的用戶名</string>
	<key>gb_login_login_wrong_psd</key>
	<string>請輸入長度為6~20的密碼</string>
	<key>gb_login_hint_register_name</key>
	<string>3~20以內的非空白字符串</string>
	<key>gb_login_hint_register_psd</key>
	<string>密碼長度為6~20</string>
	<key>gb_seperate_2222222222</key>
	<string>登錄頁面=================</string>
	<key>gb_login_gamebegin_login</key>
	<string>登錄</string>
	<key>gb_login_gamebegin_login_retrieve</key>
	<string>找回密碼</string>
	<key>gb_login_gamebegin_login_register</key>
	<string>快速註冊</string>
	<key>gb_seperate_33333333333</key>
	<string>快速註冊頁面=================</string>
	<key>gb_login_gamebegin_register</key>
	<string>註冊</string>
	<key>gb_login_gamebegin_privacy_policy_dis</key>
	<string>我已看過並同意</string>
	<key>gb_login_gamebegin_privacy_policy_btn</key>
	<string>遊戲許可及服務協議</string>
	<key>gb_login_gamebegin_privacy_policy_check_text</key>
	<string>請勾選&quot;遊戲許可及服務協議&quot;</string>
	<key>gb_seperate_4444444444</key>
	<string>找回密碼=================</string>
	<key>gb_login_retrieve_input_email_dis</key>
	<string>如果已經綁定郵箱，請通過郵箱驗證找回密碼</string>
	<key>gb_login_retrieve_input_email</key>
	<string>請輸入賬號綁定的郵箱</string>
	<key>gb_login_retrieve_next</key>
	<string>下一步</string>
	<key>gb_login_retrieve_input_cerrect_email</key>
	<string>請輸入正確的郵箱</string>
	<key>gb_seperate_555555555555</key>
	<string>客服頁面=================</string>
	<key>gb_gamebegin_account_security</key>
	<string>賬號安全</string>
	<key>gb_gamebegin_feedback</key>
	<string>聯繫客服</string>
	<key>gb_gamebegin_logout</key>
	<string>退出</string>
	<key>gb_seperate_6666666666</key>
	<string>账号升级=================</string>
	<key>gb_gamebegin_user_bind</key>
	<string>賬號升級</string>
	<key>gb_gamebegin_user_bind_alert</key>
	<string>當前為遊客賬號，為了防止遊戲記錄丟失，請盡快到用戶中心升級為正式賬號</string>
	<key>gb_gamebegin_user_bind_success</key>
	<string>綁定成功</string>
	<key>gb_gamebegin_user_bind_type</key>
	<string>請選擇綁定的方式</string>
	<key>gb_gamebegin_ok</key>
	<string>確定</string>
	<key>gb_gamebegin_cancel</key>
	<string>取消</string>
</dict>
</plist>
