<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gb_seperate_111111111111</key>
	<string>login=================</string>
	<key>gb_login_login_type</key>
	<string>请选择登录方式</string>
	<key>gb_login_other_login_type</key>
	<string>或者通过一下方式登录</string>
	<key>gb_login_success</key>
	<string>登录成功</string>
	<key>gb_login_conect_error</key>
	<string>连接服务器失败</string>
	<key>gb_login_guest</key>
	<string>游客登录</string>
	<key>gb_login_gamebegin</key>
	<string>GameBegin</string>
	<key>gb_login_facebook</key>
	<string>Facebook</string>
	<key>gb_login_twitter</key>
	<string>Twitter</string>
	<key>gb_login_line</key>
	<string>Line</string>
	<key>gb_login_googleplay</key>
	<string>Google Play</string>
	<key>gb_login_wx</key>
	<string>微信</string>
	<key>gb_login_qq</key>
	<string>QQ</string>
	<key>gb_login_hint_login_name</key>
	<string>请输入GameBegin账号</string>
	<key>gb_login_hint_login_psd</key>
	<string>请输入密码</string>
	<key>gb_login_name_no_empty</key>
	<string>用户名不能为空</string>
	<key>gb_login_psd_no_empty</key>
	<string>密码不能为空</string>
	<key>gb_login_name_wrong_length</key>
	<string>请输入长度为3~20的用户名</string>
	<key>gb_login_login_wrong_psd</key>
	<string>请输入长度为6~20的密码</string>
	<key>gb_login_hint_register_name</key>
	<string>3~20以内的非空白字符串</string>
	<key>gb_login_hint_register_psd</key>
	<string>密码长度为6~20</string>
	<key>gb_seperate_2222222222</key>
	<string>登录页面=================</string>
	<key>gb_login_gamebegin_login</key>
	<string>登录</string>
	<key>gb_login_gamebegin_login_retrieve</key>
	<string>找回密码</string>
	<key>gb_login_gamebegin_login_register</key>
	<string>快速注册</string>
	<key>gb_seperate_33333333333</key>
	<string>快速注册页面=================</string>
	<key>gb_login_gamebegin_register</key>
	<string>注册</string>
	<key>gb_login_gamebegin_privacy_policy_dis</key>
	<string>我已看过并同意</string>
	<key>gb_login_gamebegin_privacy_policy_btn</key>
	<string>游戏许可及服务协议</string>
	<key>gb_login_gamebegin_privacy_policy_check_text</key>
	<string>请勾选&quot;游戏许可及服务协议&quot;</string>
	<key>gb_seperate_4444444444</key>
	<string>找回密码=================</string>
	<key>gb_login_retrieve_input_email_dis</key>
	<string>如果已经绑定邮箱，请通过邮箱验证找回密码</string>
	<key>gb_login_retrieve_input_email</key>
	<string>请输入账号绑定的邮箱</string>
	<key>gb_login_retrieve_next</key>
	<string>下一步</string>
	<key>gb_login_retrieve_input_cerrect_email</key>
	<string>请输入正确的邮箱</string>
	<key>gb_seperate_555555555555</key>
	<string>客服页面=================</string>
	<key>gb_gamebegin_account_security</key>
	<string>账号安全</string>
	<key>gb_gamebegin_feedback</key>
	<string>联系客服</string>
	<key>gb_gamebegin_logout</key>
	<string>退出</string>
	<key>gb_seperate_6666666666</key>
	<string>账号升级=================</string>
	<key>gb_gamebegin_user_bind</key>
	<string>账号升级</string>
	<key>gb_gamebegin_user_bind_alert</key>
	<string>当前为游客账号，为了防止游戏记录丢失，请尽快到用户中心升级为正式账号</string>
	<key>gb_gamebegin_user_bind_success</key>
	<string>绑定成功</string>
	<key>gb_gamebegin_user_bind_type</key>
	<string>请选择绑定的方式</string>
	<key>gb_gamebegin_ok</key>
	<string>确定</string>
	<key>gb_gamebegin_cancel</key>
	<string>取消</string>
</dict>
</plist>
