<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gb_seperate_111111111111</key>
	<string>login=================</string>
	<key>gb_login_login_type</key>
	<string>เลือกการเข้าสู่ระบบ</string>
	<key>gb_login_other_login_type</key>
	<string>หรือผ่านช่องทางอื่นล็อคอิน</string>
	<key>gb_login_success</key>
	<string>ล็อคอินสำเร็จ</string>
	<key>gb_login_conect_error</key>
	<string>การเชื่อมต่อกับเซิร์ฟเวอร์ล้มเหลว</string>
	<key>gb_login_guest</key>
	<string>ล็อคอินรวดเร็ว</string>
	<key>gb_login_gamebegin</key>
	<string>GameBegin</string>
	<key>gb_login_facebook</key>
	<string>Facebook</string>
	<key>gb_login_twitter</key>
	<string>Twitter</string>
	<key>gb_login_line</key>
	<string>Line</string>
	<key>gb_login_googleplay</key>
	<string>Google Play</string>
	<key>gb_login_wx</key>
	<string>Wechat</string>
	<key>gb_login_qq</key>
	<string>QQ</string>
	<key>gb_login_hint_login_name</key>
	<string>กรุณาใส่บัญชีGameBegin</string>
	<key>gb_login_hint_login_psd</key>
	<string>กรุณาใส่รหัสผ่าน</string>
	<key>gb_login_name_no_empty</key>
	<string>กรุณาใส่บัญชีผู้ใช้</string>
	<key>gb_login_psd_no_empty</key>
	<string>กรุณาใส่รหัสผ่าน</string>
	<key>gb_login_name_wrong_length</key>
	<string>กรุณาใส่บัญชีผู้ใช้3-20ตัว อังกฤษหรือหมายเลข</string>
	<key>gb_login_login_wrong_psd</key>
	<string>กรุณาใส่รหัสผ่าน6-20ตัว อังกฤษหรือหมายเลข</string>
	<key>gb_login_hint_register_name</key>
	<string>3-20ตัว อังกฤษหรือหมายเลข</string>
	<key>gb_login_hint_register_psd</key>
	<string>รหัสผ่าน6-20ตัว อังกฤษหรือหมายเลข</string>
	<key>gb_seperate_2222222222</key>
	<string>登录页面=================</string>
	<key>gb_login_gamebegin_login</key>
	<string>ล็อคอิน</string>
	<key>gb_login_gamebegin_login_retrieve</key>
	<string>ลืมรหัสผ่าน</string>
	<key>gb_login_gamebegin_login_register</key>
	<string>ลงทะเบียน</string>
	<key>gb_seperate_33333333333</key>
	<string>快速注册页面=================</string>
	<key>gb_login_gamebegin_register</key>
	<string>ลงทะเบียน</string>
	<key>gb_login_gamebegin_privacy_policy_dis</key>
	<string>ฉันได้อ่านและยอมรับ</string>
	<key>gb_login_gamebegin_privacy_policy_btn</key>
	<string>ข้อกำหนดและเงื่อนไข</string>
	<key>gb_login_gamebegin_privacy_policy_check_text</key>
	<string>กรุณากดยืนยัน ข้อกำหนดและเงื่อนไข</string>
	<key>gb_seperate_4444444444</key>
	<string>找回密码=================</string>
	<key>gb_login_retrieve_input_email_dis</key>
	<string>ถ้าเคยผูกอีเมล์ กรุณาผ่านอีเมล์เดิมยืนยันหารหัสผ่าน</string>
	<key>gb_login_retrieve_input_email</key>
	<string>กรุณาใส่อีเมล์ที่ผูกบัญชี</string>
	<key>gb_login_retrieve_next</key>
	<string>ต่อไป</string>
	<key>gb_login_retrieve_input_cerrect_email</key>
	<string>กรุณาใส่อีเมล์ที่ถูกต้อง</string>
	<key>gb_seperate_555555555555</key>
	<string>客服页面=================</string>
	<key>gb_gamebegin_account_security</key>
	<string>หมายเลขบัญชี</string>
	<key>gb_gamebegin_feedback</key>
	<string>ศูนย์บริการ</string>
	<key>gb_gamebegin_logout</key>
	<string>ต่อไป</string>
	<key>gb_seperate_6666666666</key>
	<string>账号升级=================</string>
	<key>gb_gamebegin_user_bind</key>
	<string>อัพเดทบัญชี</string>
	<key>gb_gamebegin_user_bind_alert</key>
	<string>คุณกำลังใช้บัญชีผู้เข้าชม กรุณาอัพเดทบัญชีหลีกเลี่ยงบัญชีหายไป</string>
	<key>gb_gamebegin_user_bind_success</key>
	<string>ผูกสำเร็จ</string>
	<key>gb_gamebegin_user_bind_type</key>
	<string>กรุณาเลือกช่องทาง</string>
	<key>gb_gamebegin_ok</key>
	<string>อนุญาต</string>
	<key>gb_gamebegin_cancel</key>
	<string>ยกเลิก</string>
</dict>
</plist>
