<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gb_seperate_111111111111</key>
	<string>login=================</string>
	<key>gb_login_login_type</key>
	<string>Login with</string>
	<key>gb_login_other_login_type</key>
	<string>or Login with</string>
	<key>gb_login_success</key>
	<string>Welcome back </string>
	<key>gb_login_conect_error</key>
	<string>Unable to connect to the server...</string>
	<key>gb_login_guest</key>
	<string>Guest</string>
	<key>gb_login_gamebegin</key>
	<string>GameBegin</string>
	<key>gb_login_facebook</key>
	<string>Facebook</string>
	<key>gb_login_twitter</key>
	<string>Twitter</string>
	<key>gb_login_line</key>
	<string>Line</string>
	<key>gb_login_googleplay</key>
	<string>Google Play</string>
	<key>gb_login_wx</key>
	<string>Wechat</string>
	<key>gb_login_qq</key>
	<string>QQ</string>
	<key>gb_login_hint_login_name</key>
	<string>Enter GameBegin Account</string>
	<key>gb_login_hint_login_psd</key>
	<string>Password</string>
	<key>gb_login_name_no_empty</key>
	<string>User name can not be empty</string>
	<key>gb_login_psd_no_empty</key>
	<string>Password can not be empty</string>
	<key>gb_login_name_wrong_length</key>
	<string>User name must be between 3 to 20 characters</string>
	<key>gb_login_login_wrong_psd</key>
	<string>Password must be between 6 to 20 characters</string>
	<key>gb_login_hint_register_name</key>
	<string>Must be between 3 to 20 characters</string>
	<key>gb_login_hint_register_psd</key>
	<string>6 to 20 characters</string>
	<key>gb_seperate_2222222222</key>
	<string>登录页面=================</string>
	<key>gb_login_gamebegin_login</key>
	<string>Login</string>
	<key>gb_login_gamebegin_login_retrieve</key>
	<string>Forget your password</string>
	<key>gb_login_gamebegin_login_register</key>
	<string>Quick sign up</string>
	<key>gb_seperate_33333333333</key>
	<string>快速注册页面=================</string>
	<key>gb_login_gamebegin_register</key>
	<string>Sign Up</string>
	<key>gb_login_gamebegin_privacy_policy_dis</key>
	<string>I have read and agree to</string>
	<key>gb_login_gamebegin_privacy_policy_btn</key>
	<string>the Terms of Service</string>
	<key>gb_login_gamebegin_privacy_policy_check_text</key>
	<string>Please check the &apos;Terms of Service&apos;</string>
	<key>gb_seperate_4444444444</key>
	<string>找回密码=================</string>
	<key>gb_login_retrieve_input_email_dis</key>
	<string>Enter your email address to reset your password</string>
	<key>gb_login_retrieve_input_email</key>
	<string>Email Address</string>
	<key>gb_login_retrieve_next</key>
	<string>Next</string>
	<key>gb_login_retrieve_input_cerrect_email</key>
	<string>Please enter your valid email</string>
	<key>gb_seperate_555555555555</key>
	<string>客服页面=================</string>
	<key>gb_gamebegin_account_security</key>
	<string>Account</string>
	<key>gb_gamebegin_feedback</key>
	<string>Feedback</string>
	<key>gb_gamebegin_logout</key>
	<string>Log out</string>
	<key>gb_seperate_6666666666</key>
	<string>账号升级=================</string>
	<key>gb_gamebegin_user_bind</key>
	<string>Upgrade Account</string>
	<key>gb_gamebegin_user_bind_alert</key>
	<string>You are a visitor now. Please upgrade your account into official account to save game progress</string>
	<key>gb_gamebegin_user_bind_success</key>
	<string>Binding Successful</string>
	<key>gb_gamebegin_user_bind_type</key>
	<string>Bind with</string>
	<key>gb_gamebegin_ok</key>
	<string>OK</string>
	<key>gb_gamebegin_cancel</key>
	<string>Cancel</string>
</dict>
</plist>
